<br>
<div class="hero-unit">
	<h1>仕事を受任しました。</h1>
	<h2>依頼主からの連絡が届くまで、少々お待ちください。</h2>
</div>

<div class="center btn-padding">
            <%= link_to "ホームへ戻る", work5_path,
                                class: "btn btn-default " %>