<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "アバウト",   about_path %></li>
      <li><%= link_to "コンタクト", contact_path %></li>
    </ul>
  </nav>
</footer>